<%- include('../partials/header') %>

<h2>Employee list</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>Approved Software</th>
			<th>Start Date</th>
            <th>Full Time Employee</th>
		</tr>
	</thead>
	<tbody>
		<!-- Write the line of EJS to iterate over employees using forEach -->
		<% employees.forEach(function(e) { %>
		<tr>
			<td><%= e.name %></td>
			<td><%= e.department %></td>
			<td><%= e.approvedSoftware%></td>
			<td><%= e.startDate %></td>
            <td><%= e.fullTimeEmployee ? 'Yes' : 'No' %></td>
		<% if (user) { %>
			<td><a href="/employees/<%= e._id %>">DETAILS</a></td>
		<% } else { %>
			<td><br></td>
			<% } %>
			<% }); %>
		</tr>
	</tbody>
</table>

<%- include('../partials/footer') %>