<%- include('../partials/header') %>

<h2>Employee list</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>Start Date</th>
            <th>Full Time Employee</th>
		</tr>
	</thead>
	<tbody>
		<% Object.assign([], employees).sort((a, b) => a.name.localeCompare(b.name)).forEach(function(e) { %>
		<tr>
			<td><%= e.name %></td>
			<td><%= e.department %></td>
			<td><%= e.startDate.toLocaleDateString() %></td>
            <td><%= e.fullTimeEmployee ? 'Yes' : 'No' %></td>
			<td>
				<button>
					<a href="/employees/<%= e._id %>">DETAILS</a>
				</button>
			</td>
			<td><br></td>
			<% }); %>
		</tr>
	</tbody>
</table>

<%- include('../partials/footer') %>
