<%- include('../partials/header') %>

<h2>View employee</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>Approved Software</th>
			<th>Start Date</th>
            <th>Full Time Employee</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td><%= employee.name %></td>
			<td><%= employee.department %></td>
			<td>
				<ul>
				<%- employee.approvedSoftware.map(s =>
				`<li>${s.approvedSoftware}</li>`
				).join('') %>
				</ul>
			</td>
			<td><%= employee.startDate.toLocaleDateString() %></td>
            <td><%= employee.fullTimeEmployee ? 'Yes' : 'No' %></td>
			<td>
				<form action="/employees/<%= employee.id %>?_method=DELETE" method="POST"
					class="delete-form">
					<button type="submit">Delete Employee</button>
				</form>
			</td>			
		</tr>
	</tbody>	
</table><br>

<div>Select approved software for employee:</div>

<form id="add-software-form" action="/employees/<%= employee._id %>/softwares" method="POST">
	<select name="softwareId">
	  <%- softwares.map(s => 
		`<option value="${s._id}">${s.approvedSoftware}</option>`
	  ).join('') %>
	</select>
	<button type="submit">Add Approved Software</button>
</form>

<br><h3>Comments</h3>
<% if (user) { %>
  <form id="add-comment-form" method="POST"
    action="/employees/<%= employee._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    </select>
    <input type="submit" value="Add Comment">
  </form>
<% } %>

<% if (employee.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% employee.comments.forEach(function(c) { %>
        <% total += c.rating %>
        <tr>
          <td class="comment-user"><img id="avatar" alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td>
            <% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments</h5>
<% } %>


<%- include('../partials/footer') %>
