<%- include('../partials/header') %>

<h2>View employee</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>Approved Software</th>
			<th>Start Date</th>
            <th>Full Time Employee</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td><%= employee.name %></td>
			<td><%= employee.department %></td>
			<td>
				<ul>
				<%- employee.approvedSoftware.map(s =>
				`<li>${s.approvedSoftware} <smalll>${s.createdAt.toLocaleDateString()}</smalll></li>`
				).join('') %>
				</ul>
			</td>
			<td><%= employee.startDate %></td>
            <td><%= employee.fullTimeEmployee ? 'Yes' : 'No' %></td>
			<td>
				<form action="/employees/<%= employee.id %>?_method=DELETE" method="POST"
					class="delete-form">
					<button type="submit">Delete Employee</button>
				</form>
			</td>			
		</tr>
	</tbody>	
</table><br>

<div>Select approved software for employee:</div>

<form id="add-software-form" action="/employees/<%= employee._id %>/softwares" method="POST">
	<select name="softwareId">
	  <%- softwares.map(s => 
		`<option value="${s._id}">${s.approvedSoftware}</option>`
	  ).join('') %>
	</select>
	<button type="submit">Add Approved Software</button>
</form>

<%- include('../partials/footer') %>
