<%- include('../partials/header') %>

<h2>View employee</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Department</th>
			<th>Approved Software</th>
			<th>Purchased</th>
            <th>Full Time Employee</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td><%= employee.name %></td>
			<td><%= employee.department %></td>
			<% employee.approvedSoftware.forEach(function(e) { %>
				<td><%= e%></td>
			<%}); %>
			<td><%= employee.purchased.toLocaleDateString() %></td>
            <td><%= employee.fullTimeEmployee ? 'Yes' : 'No' %></td>
			
		</tr>
	</tbody>	
</table>

<div>Enter new software with purchase date:</div>
<form id="add-software-form" action="/employees" method="POST">
    <input type="text" name="approvedSoftware">
    <input type="datetime-local" name="purchased">
    </label><br>
    <input type="Submit" value="Add Software">
</form>


<%- include('../partials/footer') %>
